<mat-card class="login-card">
  <img mat-card-image class="login-card-logo" src="assets/moe-logo-official.png">
  <mat-divider></mat-divider>
  <mat-card-content class="login-card-content">
    <p class="login-error">{{loginError$ | async}}</p>
    <form [formGroup]="loginForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Password" formControlName="password" type="password">
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" (click)="login()" [disabled]="!loginForm.valid">Sign In</button>
    </form>
  </mat-card-content>
</mat-card>
