.login-card {
  position: absolute;
  margin: auto;
  top: 25%;
  right: 25%;
  left: 25%;
}

.login-card-logo {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

.login-card-content {
  padding-top: 24px;
}

.login-error {
  color: #ff0000;
}
