<mat-toolbar class="header" color="primary">
  <img class="header-img" src="assets/moe-logo-official-light.png">
  <span class="header-spacer"></span>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>

  <button mat-mini-fab color="primary" [matMenuTriggerFor]="accountMenu">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
